{{page-title "AddProduct"}}
<form>
  <hr>{{@model.section.name}}
  <div class="form-group">
    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
     <div class="col-sm">
       <Input type="text" class="form-control" placeholder="Nom" @value={{@model.name}}/>
     </div>
      <div class="col-sm">
        <Input type="text" class="form-control" placeholder="Prix" @value={{@model.price}}/>
      </div>
      <div class="col-sm">
        <Input type="text" class="form-control" placeholder="Promo" @value={{@model.promotion}}/>
      </div>
    </div>
    <Textarea class="form-control" rows="3" placeholder="Commentaires" @value={{@model.comments}}/>
    <button class="btn btn-outline-secondary" type="button" {{action "save" @model}}>Valider</button>
    <LinkTo class="btn btn-outline-secondary" @route="sections.edit" @model={{@model.id}}>Annuler</LinkTo>
  </div><hr>
</form>
{{outlet}}