{{page-title "Step1"}}
<MultiSelect  @elements={{this.dispoItems}}
              @selected={{this.dispoItems_}}
              @onChange={{this.changeDispo}}
/>
<button type="button" style="margin: 10px" class="btn btn-outline-secondary" {{action "add" this.dispoItems this.includedItems this.dispoItems_}}> ajouter </button><br>
<button type="button" style="margin: 10px" class="btn btn-outline-secondary" {{action "add" this.includedItems this.dispoItems this.includedItems_}}> retirer </button><br>
<MultiSelect  @elements={{this.includedItems}}
              @selected={{this.includedItems_}}
              @onChange={{this.changeIncluded}}
/>

<ul>
  {{#each this.dispoItems_ as |item|}}
    <li>{{item.title}}</li>
  {{/each}}
</ul>
{{outlet}}